.service-container {
    padding: 10px 125px;
    //border: 2px solid black;
    .name{
        color: lightgreen;
        font-weight: bold;
    }
    .article-title{
        font-size: 15px;
        font-weight: bold;
    }
    .about{
        font-size: 15px;
        color:grey;
    }
  }
  