.title{
    color: lightgreen;
}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type=text]{
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid grey;
}